

.top-area>ul>li {
   
    margin:auto 5px;
}


.top-area>ul>li>a {
    color: #c4c4c4;
    font-size: 14px;  
    width: auto!important;
   
}
/* 
.top-area>ul>li>a.active::after {
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -2px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    z-index: 9;
}

.top-area>ul>li>a:hover,
.top-area>ul>li>a.active {
    color: #fff;
}

.top-search {
    float: left;
    margin-top: 10px;
    text-align: left;
    width: 22%;
    margin-left: 10%;
} */

.dropdowns.languages {
    padding: 0;
    width: 120px;
}

.top-area>ul>li>a>em {    
    right: -8px;
}

.top-area>ul>li>a>img {
    width: 18px;
    height: 18px;
}