

.top-area>ul>li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    z-index: 2;
    margin:auto 5px;
}

.top-area>ul>li>a.text {
    color: #fff;
    font-size: 13px;
    padding: 0 0 0 40px;
    width: auto;
    text-transform: capitalize;
    font-weight: 400;
}

.top-area>ul>li>a {
    color: #c4c4c4;
    font-size: 16px;
    position: relative;
    display: inline-block;
    width: auto!important;
    text-align: center;
    transition: all 0.2s linear 0s;
    vertical-align: middle;
}

.top-area>ul>li>a.active::after {
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -2px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    z-index: 9;
}

.top-area>ul>li>a:hover,
.top-area>ul>li>a.active {
    color: #fff;
}